@media (max-width: 10000px) {
  .card-list {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;

    justify-items: center;
  }
}
@media (max-width: 1300px) {
  .card-list {
    width: 90vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-items: center;
  }
}
@media (max-width: 700px) {
  .card-list {
    width: 90vw;

    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    justify-items: center;
  }
}
