.search {
  -webkit-appearance: none;

  outline: none;
  padding: 10px;
  width: 30%;
  line-height: 30px;
  margin-bottom: 30px;
  color: rgb(245, 142, 8);
  font-size: 150%;
  font-weight: 600;
}

img.pokeball {
  width: 70px;
  padding-left: 10px;
}
