@media (max-width: 10000px) {
  .card-container {
    width: 12rem;

    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
}
@media (max-width: 700px) {
  .card-container {
    width: 10rem;

    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
}
.card-container:hover {
  transform: scale(1.05);
}
